[submodule "mytimezone"]
	path = mytimezone
	url = https://github.com/reticivis-net/mytimezone
[submodule "voxcorder"]
	path = voxcorder
	url = https://github.com/reticivis-net/voxcorder
[submodule "creature"]
	path = creature
	url = https://github.com/reticivis-net/creature
