---
title: Rēticīvis
description: Rēticīvis - Citizen of the Internet
layout: base
head: |
    <script type="importmap">
        {
          "imports": {
            "three": "./libs/three/three.module.min.js"
          }
        }
    </script>
    <script src="index.js" type="module"></script>
---

<noscript>
    <div class="text-center mb-4">
        <div class="glass d-inline-block text-center px-4 py-2">
            <h4 class="mb-0 text-warning">I've detected you don't have JavaScript. reticivis.net was designed to
                work without JS, but you'll
                be missing some features.</h4>
        </div>
    </div>
</noscript>
<div class="text-center">
    <div class="glass d-inline-block text-center px-4 py-2">
        <h1><a href="https://en.wikipedia.org/wiki/%22Hello,_World!%22_program" class="cool-link">Hello, world!</a>
            My name is</h1>
        <h1><span class="textemphasis">
                <span class="sparkle">✨</span>Melody!<span class="sparkle">✨</span>
            </span></h1>
        <h2>Also known professionally as <b>Rēticīvis</b>.</h2>
    </div>
</div>
<div class="grid-container">
    {% for item in site.data.me %}
        {% if item.link %}
            <a href="{{ item.link }}" class="grid-item glass afix">
                <div class="link-icon"><img src="assets/link.svg" alt="🔗"></div>
        {% else %}
            <div class="grid-item glass">
        {% endif %}
                <h3><img src="{{ item.image_url }}" alt="{{ item.image_alt }}"> {{ item.title }}</h3>
                <p>{{ item.content }}</p>
        {% if item.link %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="text-center">
    <div class="glass d-inline-block text-center px-4 py-2">
        <h1 class="mb-0"><img src="assets/rectangle-history.svg" class="icon" alt=""> <b>Projects</b></h1>
    </div>
</div>
<div class="grid-container">
    {% for item in site.data.projects %}
        {% if item.link %}
            <a href="{{ item.link }}" class="grid-item glass afix">
                <div class="link-icon"><img src="assets/link.svg" alt="🔗"></div>
        {% else %}
            <div class="grid-item glass">
        {% endif %}
                <h3><img src="{{ item.image_url }}" alt="{{ item.image_alt }}"> {{ item.title }}</h3>
                <p>{{ item.content }}</p>
        {% if item.link %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}
</div>