:root {
    --bs-font-sans-serif: 'Atkinson Hyperlegible', Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.block {
    background-color: #111;
    padding: 3px;
    margin: 10px 0;
    border-radius: 5px;
}

.block-header {
    background-color: #111;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    word-break: break-word;
}

.block-footer {
    background-color: #1d1d1d;
    padding: 10px;
    border-radius: 3px;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #111;
    padding: 10px;
    text-align: center;
    z-index: 10;
    overflow: hidden;
    margin-bottom: 5px;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.block-header img {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    position: relative;
    margin-top: -7px;
}

.pfix {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    text-align: center;
    background-color: #111;
    padding: 10px;
}

body {
    /*padding-bottom: 45px;*/
    overflow-x: hidden;
}

.afix, .afix:hover, .afix:active, .afix:focus {
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
    outline: 0;
}

@media (max-width: 400px) {
    body {
        font-size: 2em;
    }
}

@media (orientation: portrait) and (max-width: 400px) {
    .header img {
        width: 70%;
    }
}

.link {
    font-size: 1.40625rem;
}

.link svg {
    margin-left: 5px;
}

.word-wrap {
    word-wrap: break-word;
}

.display-1 {
    font-size: 6em;
    line-height: 1.2;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    margin-top: 0;
}

.cool-link {
    color: #fff;
    text-decoration: none;
}

.cool-link:hover {
    text-decoration: underline;
    color: #aaa;
    cursor: pointer;
}

#pauseanimation {
    width: 100%;
    padding: 10px;
    text-align: center;
}

/*literally how does this even work there's 1 fucking keyframe*/
@keyframes gradient {
    0% {
        background-position: calc(var(--d) / sin(var(--angle))) 0;
    }
}

.textemphasis {
    /* https://stackoverflow.com/a/63791417/9044183 evil css trig hack to get gradients to loop properly */
    --d: 100vh;
    --angle: -45deg;
    background: repeating-linear-gradient(var(--angle) in oklab, #2E50E6, #4A32E6, #8632E6, #C232E6, #E62EBE, #C232E6, #8632E6, #4A32E6, #2E50E6 var(--d));
    background-size: calc(-1 * /*remove that -1 if angle goes positive*/(var(--d) / sin(var(--angle)))) 100%;
    animation: gradient 5s linear infinite;

    font-size: 6rem;

    /* https://stackoverflow.com/a/69989367/9044183 yippee no vendor prefixes! */
    /*DO NOT MOVE THIS ABOVE THE BACKGROUND CSS, IT BREAKS IT FOR SOME FUCKING REASON?*/
    color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.glass {
    /*margin: 1rem;*/
    /*padding: 1rem;*/
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    outline: 0.25rem solid #0003;
    background: #0006;
}

.bg {
    background-image: url("https://imgflip.com/s/meme/Doge.jpg");
    background-repeat: repeat;
    padding: 1rem;
    background-attachment: fixed;
}

/*thanks to chatgpt for this*/

.grid-container {
    display: grid;
    gap: 1.5rem;
    padding-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/*this should get it to properly shrink on smaller devices*/
@media (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr; /* Change to 1 column */
    }
}

.grid-item {
    padding: 1rem;
}


* {
    word-break: break-word;
}